ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=replace-with-a-local-password
ELASTICSEARCH_ACTIVE_MODEL=bge_small_v15
ELASTICSEARCH_JAVA_OPTS="-Xms1g -Xmx1g"
