DO_VPC_ID=replace-with-default-sfo3-vpc-uuid
DO_GITHUB_REPO=kevinwuhoo/GEOscope
DO_GITHUB_BRANCH=main
ELASTICSEARCH_PASSWORD=copy-from-.env.elasticsearch.production
GEMINI_API_KEY=replace-with-runtime-query-key
